<div *ngIf="personagem" id="heroiModal" [ngStyle]="{'display': statusModal?'block':'none'}" class="modal">
  <div class="modal-content">
    <h2>{{personagem.name}}</h2>
    <img style="width: 15%; height: auto" src="{{personagem.imagePath}}">
    <p id="description">{{personagem.description}}</p>
    <div class="trabalhos">
      <div class="bloco-modal">
        <h3>Séries</h3>
        <p *ngFor="let serie of personagem.series">{{serie.name}}</p>
        <p *ngIf="personagem.series == 0">Sem nenhuma participação</p>
      </div>
      <div class="bloco-modal">
        <h3>Eventos</h3>
        <p *ngFor="let event of personagem.events">{{event.name}}</p>
        <p *ngIf="personagem.events == 0">Sem nenhuma participação</p>
      </div>
    </div>
    <div class="trabalhos">
      <div class="bloco-modal">
        <span>{{personagem.comics}}</span>
        <h4>Aparições em quadrinhos</h4>
      </div>
      <div class="bloco-modal">
        <span>{{personagem.stories}}</span>
        <h4>Aparições em histórias</h4>
      </div>
    </div>
    <button (click)="statusModal = false">Fechar</button>
  </div>
</div>

<div *ngIf="statusBusca">
  <table style="width:100%">
    <tr>
      <th style="width:25%">Personagem</th>
      <th style="width:25%">Séries</th>
      <th style="width:50%">Eventos</th>
    </tr>
    <tr class="personagemClique" id="abreModal" (click)="infoPersonagem(personagem.id)"
      *ngFor="let personagem of personagens">
      <td>
        <img [ngClass]="{'image-cropper': true}" src="{{personagem.imagePath}}">
        <p style="display: inline">{{personagem.name}}</p>
      </td>
      <td>
        <p *ngFor="let serie of personagem.series">{{serie.name}}</p>
      </td>
      <td>
        <p *ngFor="let event of personagem.events">{{event.name}}</p>
      </td>
    </tr>
  </table>
  <div class="paginacao">
    <button *ngIf="pagina > 0" (click)="anterPg()">-</button>
    <p style="display: inline">{{pagina+1}}</p>
    <button *ngIf="pagina < 149" (click)="proxPg()">+</button>
  </div>
</div>
<div class="erro" *ngIf="!statusBusca">
  <h2>Personagem não encontrado!</h2>
  <p>Entre com um personagem válido, ou reinicie a tabela.</p>
  <button (click)="resetTable()">Reiniciar</button>
</div>